@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.top-wr {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
  line-height: 0;
  background-size: cover;
  overflow: hidden;
}

.top-wr .bg-video-wrap {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  background-size: cover;
}

.top-wr h1 {
  line-height: 0;
  color: white;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 100;
  width: 100%;
  height: 35px;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 10px 10px 10px #444444;
}

.top-wr h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  position: absolute;
  top: 230px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 3;
  width: 100%;
  height: 35px;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 10px 10px 10px #363636;
  letter-spacing: 2px;
}

.top-wr p {
  font-size: 12px;
  text-align: center;
  color: white;
  position: absolute;
  top: 310px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 3;
  width: 100%;
  height: 35px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  text-shadow: 7px 7px 7px #464545;
}

.navbar {
  font-family: 'Kaushan Script', cursive;
  font-size: 13px;
  opacity: 0.9;
}

.page-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 80%;
  z-index: 1000000;
}

.page-top a {
  display: block;
  background: #050505;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.page-top a:hover {
  background: #161616;
  text-decoration: none;
}

.page-top a i {
  color: white;
}

.works-wr {
  width: 100%;
  background: #0a0a0a;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.works-wr .works-ttl h1 {
  font-size: 40px;
  padding-top: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Kaushan Script', cursive;
}

.works-wr .works-ttl p {
  font-size: 10px;
  padding-top: 10px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.works-wr .img-conts {
  margin: 0;
  width: 100%;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
}

.works-wr .img-conts .img-cont {
  line-height: 0;
  padding: 20px 30px;
  width: 100%;
  text-align: center;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.works-wr .img-conts .img-cont a {
  overflow: hidden;
}

.works-wr .img-conts .img-cont a img {
  width: 100%;
  border: 3px dotted white !important;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  -webkit-transition: 1.0s ease-in-out;
  transition: 1.0s ease-in-out;
  opacity: 0.9;
}

.works-wr .img-conts .img-cont a img:hover {
  opacity: 1.0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.works-wr .img-conts .img-cont.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.works-wr .img-cont-txt {
  padding-top: 30px;
}

.works-wr .img-cont-txt h5 {
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}

.works-wr .img-cont-txt p {
  padding-top: 10px;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
}

.profile-wr {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #0a0a0a;
  color: white;
}

.profile-wr .profile-ttl h1 {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  padding: 30px 0;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 5px;
}

.profile-wr .profile-ttl p {
  font-size: 10px;
  padding-bottom: 70px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.profile-wr .profile-conts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-wr .profile-conts .profile-img img {
  width: 100%;
  border-radius: 50%;
  border: 4mm ridge rgba(165, 165, 167, 0.6);
}

.profile-wr .profile-conts .profile-table {
  width: 100%;
  padding: 70px 20px;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

.profile-wr .profile-conts .profile-table table {
  width: 100%;
  border-collapse: collapse;
  border: 3px dotted white !important;
}

.profile-wr .profile-conts .profile-table table tr {
  border-bottom: solid 2px white;
}

.profile-wr .profile-conts .profile-table table tr:last-child {
  border-bottom: none;
}

.profile-wr .profile-conts .profile-table table th {
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #303131;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.profile-wr .profile-conts .profile-table table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #303131;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.profile-wr .profile-conts .profile-table table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #0a0a0a;
  padding: 10px 0;
}

.profile-wr .profile-conts .profile-table .profile-coment {
  font-size: 15px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 0;
  padding: 10px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  border: 3px dotted white !important;
}

.service-wr {
  width: 100%;
  background: #0a0a0a;
  padding: 150px 0;
}

.service-wr .service-ttl h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-top: 5px;
  padding-bottom: 30px;
  letter-spacing: 5px;
  text-shadow: 10px 10px 10px black;
}

.service-wr .service-ttl p {
  font-size: 10px;
  padding-bottom: 50px;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  color: white;
  text-shadow: 10px 10px 10px black;
}

.service-conts {
  width: 100%;
  background-color: #0a0a0a;
}

.service-conts .service-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.service-conts .service-sec .service-cont {
  width: 300px;
  text-align: center;
  padding: 50px 0px;
  margin: 30px 10px;
  background: black;
  border-radius: 10px;
  border: 3px dotted white !important;
}

.service-conts .service-sec .service-cont .service-icon i {
  width: 100%;
  padding-bottom: 30px;
  font-size: 100px;
  text-align: center;
  color: white;
}

.service-conts .service-sec .service-txt {
  color: white;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  padding-top: 10px;
}

.service-conts .service-sec .service-txt h3 {
  padding-top: 30px;
}

.service-conts .service-sec .service-txt .success {
  letter-spacing: 0px;
  position: relative;
}

.service-conts .service-sec .service-txt .success:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  display: inline-block;
  width: 150px;
  height: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #28a745;
  border-radius: 2px;
}

.service-conts .service-sec .service-txt .warning {
  letter-spacing: 0px;
  position: relative;
}

.service-conts .service-sec .service-txt .warning:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  display: inline-block;
  width: 150px;
  height: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ffc107;
  border-radius: 2px;
}

.service-conts .service-sec .service-txt .primary {
  letter-spacing: 0px;
  position: relative;
}

.service-conts .service-sec .service-txt .primary:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  display: inline-block;
  width: 150px;
  height: 5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #007bff;
  border-radius: 2px;
}

.service-conts .service-sec .service-txt p {
  padding-top: 20px;
  margin: 0 20px;
  text-align: left;
  word-break: break-all;
}

.contact-wr {
  width: 100%;
  height: auto;
  background-color: #0a0a0a;
  overflow: hidden;
  padding: 50px  0;
}

.contact-wr h1 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
  font-size: 50px;
  color: #fff;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 5px;
}

.contact-wr p {
  font-size: 10px;
  padding: 20px 0;
  text-align: center;
  color: white;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.contact-conts {
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 2s;
  transition: 2s;
  padding: 30px 0;
}

.contact-left {
  width: 100%;
  height: auto;
}

.form-horizontal {
  width: 100%;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
}

.form-control, textarea {
  width: 100%;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
  margin: 10px 0;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: #fffb00;
}

.button {
  width: 100%;
  height: 34px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button i {
  color: black;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  -webkit-transform: translate3d(0px, -33px, 0px);
          transform: translate3d(0px, -33px, 0px);
}

.contact-right {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contact-right a {
  width: 100%;
  height: 500px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.contact-right i {
  color: gray;
  font-size: 200px;
}

.contact-right i:hover {
  color: #1da1f2;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -moz-opacity: 0.5;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

footer {
  width: 100%;
  height: 70px;
  padding-top: 25px;
  text-align: center;
  background: #292f35;
}

footer p {
  color: white;
  font-size: 10px;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 1px;
}
/*# sourceMappingURL=small.css.map */